<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main class="productDetail-main">
      <h1>Detalle de Producto</h1>
      <div class="product">
        <div class="product-img">
          <img src="<%= product.image %>" alt="<%" ="product.altName" % /> />
        </div>
        <div class="product-info">
          <i class="fa-solid fa-truck-fast"></i>
          <h2 class="product-price">$<%= product.price %></h2>
          <h2 class="product-name"><%= product.name %></h2>
          <div class="product-ops">
            <a href="/products/<%= product.id %>/edit" class="edit-button"
              >Editar</a
            >
            <form
              action="/products/<%= product.id %>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="delete-button">Eliminar</button>
            </form>
            <a href="/products" class="go-back-button">Volver atras</a>
          </div>
        </div>
      </div>
    </main>
    <%- include("../partials/footer") %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
