<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main class="productSearch-main">
      <div class="product-search">
        <h1>Buscar Productos</h1>
        <form action="/products/search" method="get">
          <input type="text" name="search" placeholder="Nombre del Producto"/>
          <button type="submit">Buscar</button>
        </form>
      </div>
      <div class="product-search-results">
        <h2>Resultados</h2>
        <ul>
          <% if (results.length == 0 ) { %>
          <li class="no-results">
            <p>Sin resultados</p>
          </li>
          <% } else { %>
            <% for( let i=0; i < results.length; i++ ) { %>
                <li class="results-item">
                  <a href="/products/<%= results[i].id %>">
                    <div class="product-img">
                      <img src="<%= results[i].image %>" alt="Foto del Producto">
                    </div>
                    <div class="product-info">
                      <i class="fa-solid fa-truck-fast"></i>
                      <span class="product-price">$<%= results[i].price %></span>
                      <span class="product-name"><%= results[i].name %></span>
                    </div>
                  </a>
                </li>
            <% } %>
          <% } %>
        </ul>
      </div>
    </main>
    <%- include("../partials/footer") %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>