<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main class="products-main">
      <div class="products-op">
        <h1>Operaciones</h1>
        <a class="productCreate-button" href="/products/create">Agregar Producto</a>
        <a class="productSearch-button" href="/products/search">Buscar Producto</a>
      </div>
      <div class="products-list">
        <h1>Listado de productos</h1>
        <ul>
          <% for( let i=0; i < products.length; i++ ) { %>
          <li>
            <a href="/products/<%= products[i].id %>">
              <div class="product-img">
                <img src="<%= products[i].image %>" alt="Foto del Producto">
              </div>
              <div class="product-info">
                <i class="fa-solid fa-truck-fast"></i>
                <span class="product-price">$<%= products[i].price %></span>
                <span class="product-name"><%= products[i].name %></span>
              </div>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </main>
    <%- include("../partials/footer") %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
