<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main class="productEdit-main">
      <div class="product-newInfo">
        <h1 style="font-size: 2rem">Nuevos Datos</h1>
        <form action="/products/<%= product.id %>/edit?_method=PUT" method="POST">
          <input type="number" name="id" id="id" value="<%= product.id %>" readonly>
          <img src="<%= product.img %>" alt="Foto del Producto">
          <input type="file" name="img" id="img">
          <input type="text" name="name" id="name" value="<%= product.name %>" />
          <input type="text" name="price" id="price" value="<%= product.price %>" />
          <input type="submit" value="Confirmar" />
        </form>
      </div>
    </main>
    <%- include("../partials/footer") %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>