<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <a class="go-up-button" href="#header">
      <i class="fa-solid fa-arrow-up"></i>
    </a>
    <%- include("./partials/header") %>
    <main class="home-main">
      <section>
        <h3>Basado en tu última visita</h3>
        <% for( let i=0; i < lastViewedProducts.length; i++ ) { %>
        <article>
          <div class="imagen">
            <img src=<%= lastViewedProducts[i].image %> width="360"
            alt="Cafetera" class="product_img">
          </div>
          <div class="article-info">
            <i class="fa-solid fa-truck-fast"></i>
            <p class="precio">$<%= lastViewedProducts[i].price %></p>
            <p class="descuento">40% off</p>
            <h4><%= lastViewedProducts[i].name %></h4>
          </div>
        </article>
        <% } %>
      </section>
      <section>
        <h3 id="ofertas">Ofertas</h3>
        <% for( let i=0; i < onOfferProducts.length; i++ ) { %>
        <article>
          <div class="imagen">
            <img src=<%= onOfferProducts[i].image %> width="360"
            alt="Cafetera" class="product_img">
          </div>
          <div class="article-info">
            <i class="fa-solid fa-truck-fast"></i>
            <p class="precio">$<%= onOfferProducts[i].price %></p>
            <p class="descuento">40% off</p>
            <h4><%= onOfferProducts[i].name %></h4>
          </div>
        </article>
        <% } %>
      </section>
    </main>
    <%- include("./partials/footer") %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
