<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <a class="go-up-button" href="#header">
      <i class="fa-solid fa-arrow-up"></i>
    </a>
    <%- include("./partials/header") %>
    <main class="home-main">
      <section>
        <h3>Ultimos Productos</h3>
        <% for( let i=0; i < lastProducts.length; i++ ) { %>
        <a href="/products/<%= lastProducts[i].id %>">
          <div class="imagen">
            <img
              src="<%=lastProducts[i].image %>"
              width="360"
              alt="Cafetera"
              class="product_img"
            />
          </div>
          <div class="article-info">
            <i class="fa-solid fa-truck-fast"></i>
            <p class="precio">$<%= lastProducts[i].price %></p>
            <p class="descuento">40% off</p>
            <h4><%= lastProducts[i].name %></h4>
          </div>
        </a>
        <% } %>
      </section>
      <section>
        <h3 id="ofertas">Todos los Productos</h3>
        <% for( let i=0; i < allProducts.length; i++ ) { %>
        <a href="/products/<%= allProducts[i].id %>">
          <div class="imagen">
            <img
              src="<%= allProducts[i].image %>"
              width="360"
              alt="Cafetera"
              class="product_img"
            />
          </div>
          <div class="article-info">
            <i class="fa-solid fa-truck-fast"></i>
            <p class="precio">$<%= allProducts[i].price %></p>
            <p class="descuento">40% off</p>
            <h4><%= allProducts[i].name %></h4>
          </div>
        </a>
        <% } %>
      </section>
    </main>
    <%- include("./partials/footer") %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
