<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main class="userEdit-main">
      <div class="user-info">
        <h1 style="font-size: 2rem">Datos</h1>
        <% let user=users.find(user=> user.userID == userID) %>
        <h2 class="user-name">Nombre de usuario: <%= user.userName %></h2>
        <h2 class="user-password">Contraseña: <%= user.userPassword %></h2>
      </div>
      <div class="user-newInfo">
        <h1 style="font-size: 2rem">Nuevos Datos</h1>
        <form action="/users/:userID/edit?_method=PUT" method="POST">
          <input type="number" name="userID" value="<%= user.userID %>" readonly>
          <input type="text" name="newUserName" value="<%= user.userName %>" />
          <input type="password" name="newUserPassword" value="<%= user.userPassword %>" />
          <input type="submit" value="Confirmar" />
        </form>
      </div>
    </main>
    <%- include("../partials/footer") %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
