<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main class="userEdit-main">
      <div class="user-newInfo">
        <h1>Nuevos Datos</h1>
        <form
          action="/users/<%= user.id %>/edit?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <label>ID</label>
          <input type="number" name="id" value="<%= user.id %>" readonly />
          <label>Foto de Perfil</label>
          <img
            src="<%= user.profileImage %>"
            alt="Foto de Perfil"
            id="preview"
          />
          <input type="file" name="profileImage" id="profileImage" onchange="loadImage(event)"/>
          <label for="fullName">Nombre Completo</label>
          <input
            type="text"
            name="fullName"
            id="fullName"
            placeholder="Nombre y Apellido"
            value="<%= user.fullName %>"
            required
          />
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
            value="<%= user.email %>"
            required
          />
          <label for="birthDate">Fecha de Nacimiento</label>
          <input
            type="date"
            name="birthDate"
            id="birthDate"
            value="<%= user.birthDate %>"
            required
          />
          <label for="address">Domicilio</label>
          <input
            type="text"
            name="address"
            id="address"
            placeholder="Domicilio"
            value="<%= user.address %>"
            required
          />
          <label>Perfil de Usuario</label>
          <div class="userProfile-container">
            <div class="option">
              <input
                type="radio"
                name="profile"
                id="buyer"
                value="Comprador" <%= (user.profile == "Comprador") ? "checked" : "" %>
                required
              />
              <label for="buyer">Comprador</label>
            </div>
            <div class="option">
              <input
                type="radio"
                name="profile"
                id="vendor"
                value="Vendedor" <%= (user.profile == "Vendedor") ? "checked" : "" %>
                required
              />
              <label for="vendor">Vendedor</label>
            </div>
          </div>
          <label>Intereses</label>
          <div class="userInterest-container">
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="electro"
                value="Electro" <%= (user.interests.includes("Electro")) ? "checked" : "" %>
              />
              <label for="electro">Electro</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="moda"
                value="Moda" <%= (user.interests.includes("Moda")) ? "checked" : "" %>
              />
              <label for="moda">Moda</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="hogar"
                value="Hogar" <%= (user.interests.includes("Hogar")) ? "checked" : "" %>
              />
              <label for="hogar">Hogar</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="jugueteria"
                value="Jugueteria" <%= (user.interests.includes("Jugueteria")) ? "checked" : "" %>
              />
              <label for="jugueteria">Jugueteria</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="vidaSana"
                value="Vida Sana" <%= (user.interests.includes("Vida Sana")) ? "checked" : "" %>
              />
              <label for="vidaSana">Vida Sana</label>
            </div>
          </div>
          <label for="userName">Nombre de Usuario</label>
          <input
            type="text"
            name="userName"
            id="userName"
            placeholder="Nombre de Usuario"
            value="<%= user.userName %>"
            required
          />
          <label for="password">Contrase単a</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contrase単a"
            value="<%= user.password %>"
            required
          />
          <label for="passwordConfirmation">Confirmar Contrase単a</label>
          <input
            type="password"
            name="passwordConfirmation"
            id="passwordConfirmation"
            placeholder="Confirmar Contrase単a"
            value="<%= user.password %>"
            required
          />
          <button type="submit">Confirmar</button>
        </form>
      </div>
    </main>
    <%- include("../partials/footer") %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
    <script>
      let loadImage = (event) => {
        let image = document.getElementById("preview");
        image.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
  </body>
</html>
