<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main class="userEdit-main">
      <div class="user-newInfo">
        <h1>Nuevos Datos</h1>
        <form
          action="/users/<%= user.id %>/edit?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <label>ID</label>
          <input type="number" name="id" value="<%= user.id %>" readonly />
          <label>Foto de Perfil</label>
          <img
            src="<%= user.profileImage %>"
            alt="Foto de Perfil"
            id="preview"
          />
          <input type="file" name="profileImage" id="profileImage" onchange="loadImage(event)"/>
          <label for="fullName">Nombre Completo (*)</label>
          <input
            type="text"
            name="fullName"
            id="fullName"
            placeholder="Nombre y Apellido"
            value="<%= locals.oldData && oldData.fullName ? oldData.fullName : user.fullName %>"
          />
          <% if(locals.errors && errors.fullName) { %>
            <p class="feedback"><%= errors.fullName.msg %></p>
          <% } %>
          <label for="email">Email (*)</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
            value="<%= locals.oldData && oldData.email ? oldData.email : user.email %>"
          />
          <% if(locals.errors && errors.email) { %>
            <p class="feedback"><%= errors.email.msg %></p>
          <% } %>
          <label for="birthDate">Fecha de Nacimiento (*)</label>
          <input
            type="date"
            name="birthDate"
            id="birthDate"
            value="<%= locals.oldData && oldData.birthDate ? oldData.birthDate : user.birthDate %>"
          />
          <% if(locals.errors && errors.birthDate) { %>
            <p class="feedback"><%= errors.birthDate.msg %></p>
          <% } %>
          <label for="address">Domicilio (*)</label>
          <input
            type="text"
            name="address"
            id="address"
            placeholder="Domicilio"
            value="<%= locals.oldData && oldData.address ? oldData.address : user.address %>"
          />
          <% if(locals.errors && errors.address) { %>
            <p class="feedback"><%= errors.address.msg %></p>
          <% } %>
          <label>Perfil de Usuario (*)</label>
          <div class="userProfile-container">
            <div class="option">
              <input
                type="radio"
                name="profile"
                id="buyer"
                value="Comprador"
                <%= locals.oldData && oldData.profile === "Comprador" ? "checked" : (user.profile === "Comprador" ? "checked" : '') %>
              />
              <label for="buyer">Comprador</label>
            </div>
            <div class="option">
              <input
                type="radio"
                name="profile"
                id="vendor"
                value="Vendedor"
                <%= locals.oldData && oldData.profile === "Vendedor" ? "checked" : (user.profile === "Vendedor" ? "checked" : '') %>
              />
              <label for="vendor">Vendedor</label>
            </div>
          </div>
          <% if(locals.errors && errors.profile) { %>
            <p class="feedback"><%= errors.profile.msg %></p>
          <% } %>
          <label>Intereses</label>
          <div class="userInterest-container">
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="electro"
                value="Electro"
                <%= locals.oldData && oldData.interests.includes("Electro") ? "checked" : (user.interests.includes("Electro") ? "checked" : '') %>
              />
              <label for="electro">Electro</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="moda"
                value="Moda"
                <%= locals.oldData && oldData.interests.includes("Moda") ? "checked" : (user.interests.includes("Moda") ? "checked" : '') %>
              />
              <label for="moda">Moda</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="hogar"
                value="Hogar"
                <%= locals.oldData && oldData.interests.includes("Hogar") ? "checked" : (user.interests.includes("Hogar") ? "checked" : '') %>
              />
              <label for="hogar">Hogar</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="jugueteria"
                value="Jugueteria"
                <%= locals.oldData && oldData.interests.includes("Jugueteria") ? "checked" : (user.interests.includes("Jugueteria") ? "checked" : '') %>
              />
              <label for="jugueteria">Jugueteria</label>
            </div>
            <div class="option">
              <input
                type="checkbox"
                name="interests"
                id="vidaSana"
                value="Vida Sana"
                <%= locals.oldData && oldData.interests.includes("Vida Sana") ? "checked" : (user.interests.includes("Vida Sana") ? "checked" : '') %>
              />
              <label for="vidaSana">Vida Sana</label>
            </div>
          </div>
          <label for="userName">Nombre de Usuario (*)</label>
          <input
            type="text"
            name="userName"
            id="userName"
            placeholder="Nombre de Usuario"
            value="<%= locals.oldData && oldData.userName ? oldData.userName : user.userName %>"
          />
          <% if(locals.errors && errors.userName) { %>
            <p class="feedback"><%= errors.userName.msg %></p>
          <% } %>
          <label for="password">Contrase単a (*)</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contrase単a"
            value="<%= locals.oldData && oldData.password ? oldData.password : user.password %>"
          />
          <% if(locals.errors && errors.password) { %>
            <p class="feedback"><%= errors.password.msg %></p>
          <% } %>
          <label for="passwordConfirmation">Confirmar Contrase単a (*)</label>
          <input
            type="password"
            name="passwordConfirmation"
            id="passwordConfirmation"
            placeholder="Confirmar Contrase単a"
            value="<%= locals.oldData && oldData.password ? oldData.password : user.password %>"
          />
          <% if(locals.errors && errors.passwordConfirmation) { %>
            <p class="feedback"><%= errors.passwordConfirmation.msg %></p>
          <% } %>
          <button type="submit">Confirmar</button>
        </form>
      </div>
    </main>
    <%- include("../partials/footer") %>
    <script
      src="https://kit.fontawesome.com/eae7cdcb5c.js"
      crossorigin="anonymous"
    ></script>
    <script>
      let loadImage = (event) => {
        let image = document.getElementById("preview");
        image.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
  </body>
</html>
